.profile-section{
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;
}
.profileWrapper{
      display: flex;
    justify-content: center;
    box-shadow: 0px 17px 17px -19px rgba(0,0,0);
}

.profileContainer{
    width:90%;
}
.profileHeading{
    display: flex;
    margin: 0px auto;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.profileHeadingData{
    -webkit-box-flex: 1;
    flex: 1 1 0px;
    position: relative;
}
.profileHeadingButton{
  
    color: rgb(5, 71, 82);
    cursor: auto;
    width: 100%;
    height: 100%;
    min-width: 44px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 8px 12px;
    background: none rgb(255, 255, 255);
    border: none;
     
}
.profileHeadingButtonSelected{
  
    color: rgb(5, 71, 82);
    cursor: auto;
    width: 100%;
    height: 100%;
    min-width: 44px;
    display: flex;
    border: none;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 8px 12px;
    background: none rgb(255, 255, 255);
    border-bottom: solid;
    border-width: 2px;
    border-color:  rgb(5, 71, 82);;
   
   
}
.profileHeadingSpan{
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    order: 2;
    width: auto;
}

.profileBody{
    display: flex;
    justify-content: center;
}
.profileContent{
    width:65%
}
.profileMain{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    border-bottom:solid;
    border-width: 1px;
    border-color:lightgray;
    text-align: left;
}
.headingData{

    color: rgb(5, 70, 82);
 
    font-size: 20px;
    width:100%
}
.FillingMessageDiv{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    word-break: break-word;
    width:75%;
    text-align: left;
}
.FillingMessage{
    font: 400 16px / 20px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(40, 91, 100);
}
.formInputs{
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 10%;

}

.miniBioInput{
    width :60%;
    height:50%
}