

.linkToEmailInput{

    background: none;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: rgb(237, 237, 237);
    margin-bottom: 24px !important;
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border: 0px;
    background: none;
    white-space: pre-line;
    transition: background 200ms ease-out 0s;
    padding-left: 24px;
    padding-right: 24px;
   
  
}


.links{
    display: flex;
    flex-direction: column;
      list-style: none;

    

}
.linkToEmailInput:hover{
    background-color: rgb(202, 200, 200);
}
.section-content{
    margin-left: auto;
    margin-right: auto;
    max-width: 662px;

}
.linkText{
    color: rgb(5, 71, 82);
    word-break: break-word;
    display: block;
    font-size: 18px;
    line-height: 20px;
}
.linkIcon{
    margin-left: 16px;
    flex-shrink: 0;
    min-width: 24px;
    display: inline-flex;
    position: absolute;
    right: 20px;
}
.loginRedirectDiv{

    display: flex;
    padding-left: 65px;
    padding-right: 24px;
}
.loginRedirect{
    color: rgb(5, 71, 82);
    margin-bottom: 8px !important;
}
.loginLink{
    color: rgb(0, 175, 245);
    text-decoration: none;
    -webkit-tap-highlight-color:    transparent;
    margin-left:10px;
    margin-top:16px
}