.selectTripDiv{
    display: flex;
    justify-content: center;
    width: 1016px;
    border: 0px none rgb(5, 71, 82);
    font: 16px / 16px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 160px 0px 0px;
    
}

.selectTripForm {
    bottom: 0px;
    color: rgb(5, 71, 82);
    display: grid;
    grid-template-columns: 263px 1px 263px 1px 168px 96px 168px;
    height: 56px;
    justify-content: center;
    position: relative;
    top: 0px;
    z-index: 10;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 16px;
    font: 16px / 16px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 30%;
    outline: rgb(5, 71, 82) none 0px;
}

.selectTripDataInputDiv{

    align-items: center;
    block-size: 56px;
    bottom: 0px;

    color: rgb(5, 70, 82);
    column-rule-color: rgb(5, 70, 82);
    display: flex;
    height: 56px;
    left: 0px;
    perspective-origin: 131.5px 28px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 263px;
    border: 0px none rgb(5, 70, 82);
    font: 16px / 16px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(5, 70, 82) none 0px;
}
.selectTripDataLabel {
    align-items: center;
    block-size: 24px;
    caret-color: rgb(5, 70, 82);
    color: rgb(5, 70, 82);
    column-rule-color: rgb(5, 70, 82);
    border: 0px none rgb(5, 70, 82);
    font: 18px / 20px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 8px 0px 0px;
    outline: rgb(5, 70, 82) none 0px;
    padding: 0px 0px 0px 8px;
}

.selectTripDataInput{
    color: rgb(5, 70, 82);
    width: 159px;
    border: 0px none rgb(5, 70, 82);
    font: 18px / 20px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(5, 70, 82) none 0px;
    padding: 0px;
}

.seperator {
    block-size: 40px;
    caret-color: rgb(5, 71, 82);
    color: rgb(5, 71, 82);
    column-rule-color: rgb(5, 71, 82);
    height: 40px;
    background: rgb(237, 237, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px none rgb(5, 71, 82);
    margin-top: 6px;
}
.selectTripButton {
    align-items: center;
    appearance: none;
    block-size: 56px;
    caret-color: rgb(112, 140, 145);
    color: rgb(112, 140, 145);
    column-rule-color: rgb(112, 140, 145);
    cursor: pointer;
    display: flex;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(112, 140, 145);
    font: 16px / 24px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(112, 140, 145) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 8px;
}

.selectTripSpan {
    block-size: 20px;
    box-sizing: border-box;
    caret-color: rgb(5, 71, 82);
    color: rgb(5, 71, 82);
    column-rule-color: rgb(5, 71, 82);
    cursor: pointer;
    display: block;
    height: 20px;
    inline-size: 47px;
    perspective-origin: 23.5px 10px;
    width: 60px;
    border: 0px none rgb(5, 71, 82);
    font: 18px / 20px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 8px;
    outline: rgb(5, 71, 82) none 0px;
    overflow: hidden;
}

/*#SPAN_67*/
.searchTripButton{
    border-radius: 10px;
    align-items: center;
    block-size: 56px;
    bottom: 0px;
    color: rgb(5, 70, 82);
    column-rule-color: rgb(5, 70, 82);
    display: flex;
    height: 56px;
    left: 0px;
    perspective-origin: 131.5px 28px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 263px;
    border: 0px none rgb(5, 70, 82);
    font: 16px / 16px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(5, 70, 82) none 0px;
    background-color: rgb(0, 175, 245);
    color:azure;
    cursor: pointer;
}
.searchTripSpan{
    block-size: 20px;
    box-sizing: border-box;
    caret-color: rgb(5, 71, 82);
    color: rgb(5, 71, 82);
    column-rule-color: rgb(5, 71, 82);
    cursor: pointer;
    display: block;
    height: 20px;
    inline-size: 47px;
    perspective-origin: 23.5px 10px;
    width: 60px;
    border: 0px none rgb(5, 71, 82);
    font: 18px / 20px gt-eesti, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 8px;
    outline: rgb(5, 71, 82) none 0px;
    overflow: hidden;
    color: aliceblue;
}