.Modal-Container{
    padding-top: 72px;
     position: absolute;
     top:0;
     left:0;
     background-color: white;
     width:100%;
     height:200%
}
.Modal-CloseBtn{
    margin: 120px;

    height: 40px;
    position: absolute;
    top:0;
    left:0;
}