.RidesData {
    padding: 30px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    margin: 20px;
    border: solid;
    border-width: thin;
    border-radius: 10px;
    border-color:lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    height:80px;
    width:90%
}
.RidesData:hover{
    height:82px;
    width:91%
}
.rideDate{
    color: rgb(5, 70, 82);
   font-size:30px;

}
.rideTime{
    color: rgb(5, 70, 82);
   font-size:25px;

}

.location{
    color: rgb(5, 70, 82);
    margin :10px;

}
.ridesLink{
        
 
    text-decoration: none;
}
.deleteRide{
    
    background-color: rgba(5, 71, 82, 0.95);;
    height:100vh;
    display: block;
}
