
.continueButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96px;
    padding: 24px !important;
    justify-content: center !important;
}

.continueButton {
    background-color: rgb(0, 175, 245);
    color: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    padding: 0px 24px;
    border: 1px solid transparent;
    border-radius: 9999px;
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    height: 48px;
    min-width: 48px;
    max-width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-box-align: center;
    align-items: center;
    transition: max-width 500ms ease-in 0s, background-color 200ms ease-in 0s;
    white-space: nowrap;
}
