.links {
    display: flex;
    flex-direction: column;
    list-style: none;



    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.profilelinksList {
    height: fit-content
}

.profilelinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}



.linkText {
    color: rgb(5, 71, 82);
    word-break: break-word;
    display: block;
    font-size: 18px;
    line-height: 20px;

}

.profilelinkText {
    color: rgb(5, 71, 82);
    word-break: break-word;
    display: block;
    font-size: 30px;
    line-height: 20px;
    margin-top: -40px;
}

.linkIcon {
    margin-left: 16px;
    flex-shrink: 0;
    min-width: 24px;
    display: inline-flex;
    position: absolute;
    right: 20px;
}

.linkTo {

    background: none;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: rgb(237, 237, 237);
    margin-bottom: 24px !important;
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border: 0px;
    background: none;
    white-space: pre-line;
    transition: background 200ms ease-out 0s;
    padding-left: 24px;
    padding-right: 24px;
    height: fit-content;

}

.profilelinkTo {
    background: none;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: rgb(237, 237, 237);
    margin-bottom: 24px !important;
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border: 0px;
    background: none;
    white-space: pre-line;
    transition: background 200ms ease-out 0s;
    padding-left: 24px;
    padding-right: 24px;
    height: 110px;
}

.profilePicDiv {
  height: fit-content;;

    position: relative;
    border: solid;
    border-radius: 9999px;
    border-color: white;
    position: absolute;
    right: 10%;

}

.profilelinkTo:hover {
    background-color: rgb(237 237 237);
}

.linkTo:hover {
    background-color: rgb(237 237 237);
}

.profilePic {
    border-radius: 9999px;
  
    width: 120px;
    height: 120px;
    /* object-fit: contain; */

}